.home {
    @apply w-full h-full;

    // Global Section Styles
    &__section {
        &-1 {
            @apply flex justify-stretch;

            &-left,
            &-right {
                @apply relative basis-1/2;
            }

            // Left Column
            &-left {
                @apply h-[100vh] flex flex-col items-center justify-center;

                &-fadedText {
                    @apply w-1/2 h-fit text-[rgb(var(--text)/.5)] text-right text-[5vh] font-[600];
                }

                &-text {
                    @apply relative w-1/2 h-fit text-right text-[5vh] font-[600] leading-[1.2];

                    .__lastWord {
                        @apply text-[rgb(var(--primary-light)/1)];
                    }

                    &::before {
                        content: 'Speaking.';
                        @apply opacity-25 z-[-1] absolute w-fit h-fit text-[rgb(var(--text)/.1)] text-[17.5vh] font-normal top-0 -left-[10vh] -translate-y-1/2;
                        font-family: 'Abril Fatface', cursive;
                    }
                }

                &-read {
                    @apply w-1/2 h-[5vh] mt-[7.5vh] mb-[10vh] flex items-center justify-end text-[rgb(var(--primary-light)/1)] gap-2 text-sm font-medium;
                    
                    span {
                        @apply flex items-center;
                        
                        svg {
                            @apply w-[20vh] h-[2vh];
                        }
                    }
                }

                &::before {
                    content: '';
                    @apply z-[-1] absolute w-[40vw] h-[calc(100vh-30vh)] bg-[rgb(var(--white)/.5)] top-1/2 -right-0 backdrop-blur-[.75vh] -translate-y-1/2;
                }

                &::after {
                    content: '';
                    @apply z-[-1] absolute w-[30vw] h-[60vh] bg-[rgb(var(--primary-light)/.25)] bottom-0 left-[50vh] backdrop-blur-[.75vh] -translate-x-1/4 translate-y-[40vh];
                }
            }

            // Right Column
            &-right {
                @apply relative h-[100vh];

                &-image {
                    @apply relative w-full h-full;
                }

                &-text {
                    @apply absolute flex flex-col justify-center h-fit w-1/2 top-1/2 left-[5vh] -translate-y-1/2;

                    &-hello {
                        @apply text-9xl font-medium text-[rgb(var(--white)/1)] leading-[.75];
                        font-family: 'Abril Fatface', cursive;
                    }

                    &::before {
                        content: '';
                        @apply z-[-1] absolute w-[40vw] h-[calc(100vh-30vh)] bg-[rgb(var(--white)/.25)] top-1/2 -left-[5vh] backdrop-blur-[.75vh] -translate-y-1/2;
                    }
                }
            }
        }

        &-2 {
            @apply flex justify-stretch;

            &-left,
            &-right {
                @apply relative;
            }

            // Left Column
            &-left {
                @apply basis-1/3;
            }

            // Right Column
            &-right {
                @apply basis-2/3;

                ._sliderArticles {
                    @apply relative p-[5vh] w-full h-full;

                    .slick-slider {
                        @apply relative p-[5vh] w-full h-full;

                        .slick-list {
                            .slick-track {
                                .slick-slide {
                                    @apply bg-[rgb(var(--white)/1)];

                                    &>div {
                                        ._card {
                                            @apply relative bg-[rgb(var(--white)/1)] m-0 p-[2.75vh] h-[60vh];

                                            &Body {
                                                @apply relative overflow-hidden h-full;

                                                ._form {
                                                    .category_author {
                                                        @apply relative text-[1.75vh] w-fit h-fit mb-auto text-[rgb(var(--text)/.5)];

                                                        &::before {
                                                            @apply absolute bg-[rgb(var(--primary)/.25)] w-[200%] h-[.25vh] top-1/2 left-[calc(100%+5vh)] -translate-y-1/2;
                                                            content: '';
                                                        }
                                                    }

                                                    .firstPhrase {
                                                        @apply text-[4vh] leading-[1.2];
                                                    }

                                                    h2 {
                                                        @apply relative font-medium text-[6vh] text-[rgb(var(--text)/1)] mt-[2vh] leading-[1.2];
                                                        font-family: 'Abril Fatface', cursive;

                                                        span {
                                                            @apply text-[rgb(var(--primary)/1)];
                                                        }
                                                    }

                                                    ._button {
                                                        @apply self-end w-1/4;
                                                    }

                                                    .information {
                                                        @apply flex items-center justify-center w-1/4 gap-[.025em] text-[1.75vh] my-[1.25vh] text-[rgb(var(--text)/.5)] self-end;

                                                        svg {
                                                            @apply mx-[.5vh] w-[2.75vh] h-[2.75vh] stroke-[4] stroke-[rgb(var(--text)/.25)];
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .slick-slide {
                            transition: opacity 0.3s ease;
                            
                            &.sliding-out {
                                opacity: 0;
                            }
                        }

                        .slick-dots {
                            @apply absolute bottom-[5vh] right-0 translate-x-1/2 w-[5vh] h-[20vh];

                            li {
                                @apply hidden m-[.5vh] w-[3vh] h-[3vh];

                                &.slick-active {
                                    @apply h-[11vh];

                                    button {
                                        @apply p-0 w-full h-full;

                                        &::before {
                                            @apply rounded-[2.5vh] bg-[rgb(var(--text)/1)] w-[.3vh] h-full left-1/2 -translate-x-1/2;
                                            content: '';
                                        }
                                    }

                                    &:first-of-type {
                                        @apply mt-[4vh]
                                    }
                                }

                                &:not(.slick-active) {
                                    button {
                                        @apply p-0 text-[2vh] leading-[3vh] text-[rgb(var(--text)/1)] w-full h-full;

                                        &::before {
                                            @apply hidden;
                                        }
                                    }
                                }

                                &:has(+ .slick-active),
                                &.slick-active,
                                &.slick-active+li {
                                    @apply inline-block;
                                }
                            }
                        }
                    }

                    ._shadowIndex {
                        @apply absolute opacity-25 m-0 text-[20vh] leading-normal font-bold text-[rgb(var(--primary-light)/1)] w-fit h-fit;
                        font-family: 'Abril Fatface', cursive;

                        p {
                            @apply m-0;
                        }

                        &._word {
                            @apply bottom-0 left-0 translate-y-[10vh];
                        }

                        &._number {
                            @apply flex top-0 right-0 translate-y-full rotate-90 origin-top-right;

                            &._outlined {
                                @apply text-transparent -translate-x-[5%] translate-y-[105%];
                                content: var(--before-content);
                                -webkit-text-stroke: .1vh rgb(var(--text)/1);
                            }
                        }
                    }
                }
            }
        }

        &-3 {
            @apply flex justify-stretch !py-[5vh];

            &-left,
            &-right {
                @apply relative;
            }

            // Left Column
            &-left {
                @apply basis-7/12 z-[1];

                ._form {
                    @apply z-10 bg-[rgb(var(--text)/1)] text-[rgb(var(--white)/.75)] absolute p-[5vh] flex flex-col h-full h-3/4 w-3/4 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/4;

                    .aboutMe {
                        @apply relative text-[1.75vh] w-fit h-fit mb-auto;

                        &::before {
                            @apply absolute bg-[rgb(var(--white)/.75)] w-[200%] h-[.25vh] top-1/2 left-[calc(100%+5vh)] -translate-y-1/2;
                            content: '';
                        }
                    }

                    .fullName {
                        @apply font-medium text-[7vh] mt-[2vh] leading-[1.2];
                    }

                    .text {
                        @apply relative;

                        span {
                            @apply text-[rgb(var(--primary)/1)];
                        }
                    }

                    ._button {
                        @apply self-end w-1/4 my-[2vh];
                    }
                }
            }

            // Right Column
            &-right {
                @apply relative flex justify-start items-center h-full basis-5/12;

                &-image {
                    @apply relative w-3/4 h-full;

                    img {
                        @apply w-full h-full border-[2vh] border-solid border-[rgb(var(--text)/.10)];
                    }
                }
            }

            &::before {
                content: '';
                @apply absolute bottom-0 w-full h-1/5 bg-[rgb(var(--primary-light)/1)];
            }
        }

        &-4 {
            @apply bg-[rgb(var(--primary-light)/1)];
        }
    }
}