.post {
    @apply w-full h-full;

    &__section {
        &-1 {
            @apply min-h-[100vh];

            &-wrapper {
                .__breadcrumb {
                    @apply w-[calc(100%-30vh)] h-[10vh] mx-auto;

                    ul {
                        @apply flex h-full items-center;

                        li {
                            @apply flex items-center;

                            a {
                                @apply text-[rgb(var(--text)/.5)]
                            }

                            svg {
                                @apply ml-[.5vh] w-[5vh] h-[2.75vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                            }
                        }
                    }
                }

                .__postBox {
                    @apply w-[calc(100%-30vh)] mx-auto my-[35vh] h-[fit];

                    ._card {
                        @apply relative w-full h-[fit];

                        &Body {
                            @apply relative overflow-hidden h-full;

                            ._form {
                                .articleCategory {
                                    @apply relative text-[1.75vh] w-fit h-fit mb-[4vh] ml-[15%] text-[rgb(var(--text)/.5)];
                                }

                                h2 {
                                    @apply w-fit items-end ml-[15%];

                                    &.articleTitle {
                                        @apply relative font-medium mb-[1vh] text-[6vh] text-[rgb(var(--text)/1)] mt-[2vh] leading-[6vh];

                                        &::before {
                                            @apply absolute bg-[rgb(var(--text)/.75)] w-[20vh] h-[1.25vh] bottom-0 left-[calc(100%+5vh)] -translate-y-full;
                                            content: '';
                                        }

                                        &:not(:lang(ar)) {
                                            @apply font-abril;
                                        }
                                    }

                                    &.articleAuthorCreation {
                                        @apply flex mb-[25vh];

                                        span {
                                            &:first-of-type {
                                                @apply text-[rgb(var(--primary)/1)] font-normal text-[3.5vh] leading-[3.5vh];

                                                &:not(:lang(ar)) {
                                                    @apply font-abril;
                                                }
                                            }

                                            &:last-of-type {
                                                @apply text-[rgb(var(--text)/.25)] font-normal text-[2.5vh] leading-[3.5vh];
                                            }
                                        }

                                        svg {
                                            @apply self-center mx-[2.5vh] w-[2.75vh] h-[2.75vh] stroke-[4] stroke-[rgb(var(--text)/.25)];
                                        }
                                    }
                                }

                                .articleBody {
                                    /* This ought to be relying on the styles made by the user while creating the article */
                                }
                            }
                        }
                    }

                    .articleControl {
                        @apply flex justify-end gap-[2vh];

                        button,
                        div {
                            @apply flex;

                            svg {
                                @apply ml-[.5vh] w-[5vh] h-[2.75vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                            }

                            &.active {
                                svg {
                                    @apply stroke-[rgb(var(--primary)/.5)];
                                }
                            }
                        }
                    }
                }

                .__comments {
                    @apply w-[calc(100%-30vh)] h-[50vh] mx-auto flex;

                    &-left,
                    &-right {
                        @apply relative basis-1/2;
                    }

                    &-left {
                        ._card {
                            @apply h-full flex flex-col;

                            &Body {
                                @apply py-[4vh] flex-1;

                                form {
                                    @apply gap-[3vh];
                                }
                            }
                        }
                    }

                    &-right {
                        @apply p-[4vh] overflow-hidden;

                        .__title {
                            @apply flex gap-[2.5vh] text-[3.75vh] leading-[3.5vh] h-[10vh];

                            p {
                                @apply text-[2.25vh] bg-[rgb(var(--primary-light)/.75)] w-fit h-fit px-[2vh] rounded-[1.25vh] shadow-md;
                            }
                        }

                        ._card {
                            &Body {
                                @apply pb-[4vh] pr-[4vh];

                                ._topRow {
                                    @apply flex flex-col;

                                    .author {
                                        @apply relative text-[1.75vh] w-fit h-fit text-[rgb(var(--text)/.35)];

                                        b {
                                            @apply text-[rgb(var(--text)/.75)] text-[2.5vh] leading-[3.5vh];
                                        }
                                    }

                                    .__editing {
                                        @apply absolute top-2 right-2 bg-blue-100 text-blue-800 text-xs px-2 py-1 rounded;
                                    }
                                }

                                ._middleRow {
                                    h4 {
                                        @apply py-[2.5vh];
                                    }
                                }

                                ._bottomRow {
                                    @apply flex gap-[3vh];

                                    .upvotes,
                                    .downvotes {
                                        @apply flex;

                                        button,
                                        p {
                                            @apply flex items-center;

                                            svg {
                                                @apply w-fit h-[2.75vh] mr-[1vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                                            }

                                            &.active {
                                                svg {
                                                    @apply stroke-[rgb(var(--primary)/.5)];
                                                }
                                            }
                                        }
                                    }

                                    .reply {
                                        @apply flex ml-[5vh];

                                        button {
                                            @apply flex items-center;

                                            svg {
                                                @apply w-fit h-[2.75vh] mr-[1vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                                            }
                                        }
                                    }

                                    .edit {
                                        @apply flex;

                                        button {
                                            @apply flex items-center;

                                            svg {
                                                @apply w-fit h-[2.75vh] mr-[1vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                                            }
                                        }
                                    }

                                    .delete {
                                        @apply flex ml-auto;

                                        button {
                                            @apply flex items-center;

                                            svg {
                                                @apply w-fit h-[2.75vh] mr-[1vh] stroke-[2] stroke-[rgb(var(--text)/.5)];
                                            }
                                        }
                                    }
                                }
                            }

                            &._cardReply {
                                @for $i from 1 through 5 {
                                    &-#{$i} {
                                        padding-left: #{ $i * 10vh };

                                        ._cardBody ._topRow .author {
                                            @apply relative;

                                            &::before {
                                                @apply content-[''] absolute h-[.25vh] bg-[rgb(var(--primary-light)/1)] top-1/2 left-0 -translate-y-1/2;
                                                width: #{ $i * 5vh };
                                                transform: translateX(#{ $i * -6vh })
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-4 {
            @apply bg-[rgb(var(--primary-light)/1)];
        }
    }
}