.__headerWrapper,
.header {
    @apply z-30 fixed top-0 left-0 w-full h-[10vh] bg-transparent;

    &__nav {
        @apply h-full flex items-center justify-between px-[5vh];

        &-left,
        &-right {
            @apply relative h-full flex items-center justify-center;
        }

        &-left {
            &-hamburger {
                .__background {
                    @apply fixed w-[75vh] h-[100vh] top-0 left-0 bg-[rgb(var(--white)/1)];
                }

                .__ul {
                    @apply fixed w-[75vh] h-[100vh] pl-[20vh] top-0 left-0 flex flex-col justify-center;

                    li {
                        a {
                            @apply text-2xl font-medium relative flex items-center text-[rgb(var(--text)/1)] my-[1.25vh];

                            &:hover {
                                @apply text-[rgb(var(--primary-dark)/1)];
                            }

                            &.active {
                                @apply text-[rgb(var(--primary-dark)/1)] translate-x-[10vh];

                                &::before {
                                    content: '';
                                    @apply absolute h-[.5vh] w-[24vh] -left-[5vh] top-1/2 -translate-x-full bg-[rgb(var(--primary-dark)/1)] -translate-y-1/2;
                                }
                            }
                        }
                    }
                }

                .__hamburger {
                    svg {
                        @apply relative w-full h-full;

                        g {
                            line {
                                @apply stroke-[3] fill-[rgb(var(--text)/1)] stroke-[rgb(var(--text)/1)];
                                transform-box: fill-box;
                                transform-origin: center;
                            }
                        }
                    }
                }
            }

            &-logo,
            &-hamburger {
                @apply z-20 w-[10vh] h-[10vh] flex items-center justify-center relative;
            }
        }

        &-right {
            &-search {
                @apply h-full w-[10vh] flex items-center justify-center relative overflow-hidden;

                &.__white svg {
                    @apply stroke-[rgb(var(--white)/1)];
                }

                &.__dark svg {
                    @apply stroke-[rgb(var(--text)/1)];
                }

                svg {
                    @apply w-[4vh] h-[4vh] stroke-[3] stroke-[rgb(var(--white)/1)];
                }
            }
        }
    }
}