@use '../abstracts/mq';

.__overlay {
    @apply fixed inset-0 w-[100vw] h-[100vh] bg-[rgb(var(--white)/0.25)] backdrop-blur-[.25vh] top-0 left-0;
}

._modal {
    &__search {
        @apply fixed z-30 top-[1vh] left-0 w-full h-[99vh] bg-[rgb(var(--white)/1)] p-[1.25vh] leading-normal;
        box-shadow: 0 0 2vh 2vh rgb(rgb(var(--text)/1) / 0.05);

        // sm breakpoint (>= 640px): small tablets and up
        @include mq.mq($from: sm) {
            @apply top-[5vh] left-1/2 w-[calc(100%-10vh)] h-[90vh] p-[2.5vh];
        }

        &::before {
            @apply absolute content-[''] w-full h-[1vh] top-0 left-0 -translate-y-full bg-[rgb(var(--primary-dark)/1)] z-10;

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply h-[1.5vh];
            }
        }

        ._header {
            @apply flex h-[10vh] overflow-visible;

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply px-[2.5vh];
            }

            ._formContainer {
                @apply w-[calc(100vw-11.25vh)] m-auto z-[10];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply w-[100vh];
                }
            }

            .__searchClose {
                @apply flex flex-col items-end text-[rgb(var(--text)/.5)];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply items-center;
                }

                svg {
                    @apply relative w-3/4 h-3/4;

                    // sm breakpoint (>= 640px): small tablets and up
                    @include mq.mq($from: sm) {
                        @apply w-full h-full;
                    }

                    g {
                        line {
                            @apply stroke-[3] fill-[rgb(var(--text)/.5)] stroke-[rgb(var(--text)/.5)] origin-center;

                            &.one {
                                @apply rotate-45;
                            }

                            &.two {
                                @apply -rotate-45;
                            }
                        }
                    }
                }
            }
        }

        ._body {
            @apply h-[76.5vh] w-full;

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply px-[2.5vh] pt-[2.5vh] h-[65vh];
            }

            .__suggestions {
                @apply flex flex-col w-full h-[20vh];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply flex-row;
                }

                ._SimpleBar {
                    @apply w-full;

                    // sm breakpoint (>= 640px): small tablets and up
                    @include mq.mq($from: sm) {
                        @apply w-3/5;
                    }

                    // Scrollbar styling
                    .simplebar-scrollbar {
                        width: 1.5vh !important;
                        @apply bg-transparent;

                        &::before {
                            @apply w-full top-0 left-0 bg-[rgb(var(--text)/.25)] opacity-100 rounded-full;
                        }

                        &.simplebar-visible::before {
                            @apply opacity-100;
                        }
                    }

                    .simplebar-track {
                        &.simplebar-vertical {
                            width: 1.5vh !important;
                            @apply bg-[rgb(var(--hoverGray)/.25)] left-[1vh];
                        }

                        &.simplebar-horizontal {
                            @apply hidden;
                        }
                    }

                    .__suggestions-content {
                        @apply flex flex-col h-full w-full place-self-center;

                        // sm breakpoint (>= 640px): small tablets and up
                        @include mq.mq($from: sm) {
                            @apply w-[90%];
                        }

                        .selected-header {
                            @apply flex items-center mb-[2vh];

                            h3 {
                                @apply text-[2vh] font-semibold text-[rgb(var(--text)/.75)];
                            }

                            .clear-all {
                                @apply text-[1.5vh] text-[rgb(var(--red)/1)] ml-auto transition-opacity;

                                // sm breakpoint (>= 640px): small tablets and up
                                @include mq.mq($from: sm) {
                                    @apply ml-[5vh];
                                }

                                &:hover {
                                    @apply opacity-75;
                                }
                            }
                        }

                        .selected-tags {
                            @apply flex flex-wrap gap-[1vh];

                            .selected-tag {
                                @apply flex items-center gap-[.5vh] px-[1vh] py-[.5vh] rounded-[.5vh] text-[1.5vh];
                                @apply bg-[rgb(var(--hoverGray)/1)] border border-[rgb(var(--hoverGray)/.75)];

                                &.tag {
                                    @apply text-[rgb(var(--pink)/1)];
                                }

                                &.category {
                                    @apply text-[rgb(var(--green)/1)];
                                }

                                &.author {
                                    @apply text-[rgb(var(--purple)/1)];
                                }

                                &.title {
                                    @apply text-[rgb(var(--blue)/1)];
                                }

                                .remove-tag {
                                    @apply ml-[.5vh] opacity-50 transition-opacity;

                                    &:hover {
                                        @apply opacity-100;
                                    }
                                }
                            }
                        }
                    }
                }

                .__filters {
                    @apply w-full flex flex-row items-end justify-end gap-[1.25vh] pt-[1.25vh] z-10;

                    // sm breakpoint (>= 640px): small tablets and up
                    @include mq.mq($from: sm) {
                        @apply w-2/5 py-[5vh] pt-0 gap-[2.5vh];
                    }

                    ._formGroup {
                        @apply w-fit;
                    }
                }
            }

            .__container {
                @apply relative h-[56.5vh] w-full;

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply h-[42.5vh];
                }

                .__articlesGrid {
                    @apply w-full h-full;

                    ._SimpleBar {
                        @apply w-full;

                        // Scrollbar styling
                        .simplebar-scrollbar {
                            width: 1.5vh !important;
                            @apply bg-transparent;

                            &::before {
                                @apply w-full top-0 left-0 bg-[rgb(var(--text)/.25)] opacity-100 rounded-full;
                            }

                            &.simplebar-visible::before {
                                @apply opacity-100;
                            }
                        }

                        .simplebar-track {
                            &.simplebar-vertical {
                                width: 1.5vh !important;
                                @apply bg-[rgb(var(--hoverGray)/.25)];
                                right: 1vh;
                            }

                            &.simplebar-horizontal {
                                @apply hidden;
                            }
                        }

                        .__articlesGrid-content {
                            @apply flex flex-wrap h-full w-full place-self-center;

                            // sm breakpoint (>= 640px): small tablets and up
                            @include mq.mq($from: sm) {
                                @apply w-[90%];
                            }

                            .__articleCard {
                                @apply h-[50vh] p-[1.25vh] basis-full;

                                // sm breakpoint (>= 640px): small tablets and up
                                @include mq.mq($from: sm) {
                                    @apply h-[60vh] p-[2.5vh] basis-1/3;
                                }

                                .article-card {
                                    @apply relative h-full w-full flex flex-col border-[1vh] border-solid border-[rgb(var(--primary-light)/.75)] bg-[rgb(var(--white)/.75)];

                                    // sm breakpoint (>= 640px): small tablets and up
                                    @include mq.mq($from: sm) {
                                        @apply border-[2vh];
                                    }

                                    a {
                                        @apply flex flex-col h-full w-full p-[1.25vh];

                                        // sm breakpoint (>= 640px): small tablets and up
                                        @include mq.mq($from: sm) {
                                            @apply p-[2.5vh];
                                        }

                                        .meta {
                                            @apply flex gap-[1vh] text-[1.75vh] mb-[1vh] text-[rgb(var(--text)/.75)];

                                            // sm breakpoint (>= 640px): small tablets and up
                                            @include mq.mq($from: sm) {
                                                @apply gap-[1.25vh] text-[2vh];
                                            }

                                            .author {
                                                @apply font-bold;
                                            }

                                            .username {
                                                @apply text-[rgb(var(--text)/.35)];
                                            }

                                            .category {
                                                @apply text-[rgb(var(--primary-dark)/1)] ml-auto;
                                            }
                                        }

                                        .title {
                                            @apply text-[3vh] font-bold mb-[1vh] text-[rgb(var(--text)/1)];
                                        }

                                        .preview {
                                            @apply text-[2vh] text-[rgb(var(--text)/.5)] my-[1.5vh] overflow-hidden text-ellipsis line-clamp-5;
                                        }

                                        .tags {
                                            @apply flex gap-[1vh] mb-[1vh] mt-auto ml-auto w-full justify-end overflow-hidden text-ellipsis line-clamp-1;
                                            min-height: min-content;
                                            max-height: 6vh;

                                            .tag {
                                                @apply flex items-center gap-[.75vh] px-[1.5vh] py-[.75vh] rounded-[.75vh] h-full;
                                                @apply bg-[rgb(var(--hoverGray)/1)] border border-[rgb(var(--hoverGray)/.75)];
                                                @apply text-[1.75vh] font-semibold;
                                                @apply whitespace-nowrap;

                                                svg {
                                                    @apply w-[2vh] h-[2vh];
                                                }
                                            }
                                        }

                                        .location {
                                            @apply text-[1.75vh] text-[rgb(var(--text)/.35)];
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        ._footer {
            @apply px-[2.5vh] pt-[2vh] border-t;
            @apply h-[10vh] border-t border-[rgb(var(--hoverGray)/.5)] px-[2.5vh] flex items-center;
            @apply flex justify-between items-center;

            .results-info {
                @apply text-[1.75vh] text-[rgb(var(--text)/.75)];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply text-[2vh];
                }

                strong {
                    @apply text-[rgb(var(--text)/1)] font-semibold;
                }
            }

            ._pageNumbers {
                @apply flex gap-[1vh] items-center justify-center;

                li {
                    @apply w-[1.75vh] h-[.75vh] rounded-full bg-[rgb(var(--text)/.25)] cursor-pointer transition-all;

                    // sm breakpoint (>= 640px): small tablets and up
                    @include mq.mq($from: sm) {
                        @apply w-[2vh] h-[1vh];
                    }

                    &.current {
                        @apply w-[3vh] bg-[rgb(var(--text)/1)];

                        // sm breakpoint (>= 640px): small tablets and up
                        @include mq.mq($from: sm) {
                            @apply w-[4vh];
                        }
                    }

                    &:hover {
                        @apply bg-[rgb(var(--text)/.5)];
                    }
                }
            }
        }
    }

    &__submit {
        @apply fixed flex flex-col z-30 top-[15vh] left-1/2 w-[90%] h-1/2 bg-[rgb(var(--white)/1)] px-[1.25vh] pt-[1.25vh] pb-[2.5vh] leading-normal;
        box-shadow: 0 1vh 2.5vh 1vh rgb(var(--text)/.1);

        // sm breakpoint (>= 640px): small tablets and up
        @include mq.mq($from: sm) {
            @apply top-[10vh] w-1/2 px-[2.5vh] pt-[2.5vh];
        }

        &::before {
            @apply absolute content-[''] w-full h-[1.5vh] top-0 left-0 -translate-y-full bg-[rgb(var(--primary-light)/1)] z-10;
        }

        ._header {
            @apply flex h-[10vh] overflow-visible px-[.75vh];

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply px-[2.5vh];
            }

            ._headerTitle {
                @apply w-full mr-auto content-center text-[2vh];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply w-[100vh] text-[2.5vh];
                }
            }

            .__submitClose {
                svg {
                    @apply relative w-full h-full;

                    g {
                        line {
                            @apply stroke-[3] fill-[rgb(var(--text)/1)] stroke-[rgb(var(--text)/1)] origin-center;

                            &.one {
                                @apply rotate-45;
                            }

                            &.two {
                                @apply -rotate-45;
                            }
                        }
                    }
                }
            }
        }

        ._body {
            @apply flex items-center flex-grow overflow-hidden p-[.75vh];

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply p-[2.5vh];
            }

            h2 {
                @apply text-3xl font-medium text-[rgb(var(--text)/.5)] mb-[3vh];

                // sm breakpoint (>= 640px): small tablets and up
                @include mq.mq($from: sm) {
                    @apply text-xl;
                }
            }
        }

        ._footer {
            @apply h-fit border-t border-[rgb(var(--hoverGray)/.25)] px-[.75vh] pt-[2.5vh] flex items-center;
            @apply flex justify-between items-center;

            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply px-[2.5vh];
            }

            ._button {
                @apply ml-auto w-2/5;
            }
        }
    }

    &__comments {
        @apply fixed z-[100] top-[5vh] left-1/2 w-[calc(100%-10vh)] h-[90vh] bg-[rgb(var(--white)/1)] p-[2.5vh] leading-normal;
        box-shadow: 0 1vh 2.5vh 1vh rgb(var(--text)/.1);

        &::before {
            @apply absolute content-[''] w-full h-[1.5vh] top-0 left-0 -translate-y-full bg-[rgb(var(--primary-light)/1)] z-10;
        }

        ._header {
            @apply flex h-[10vh] overflow-visible px-[2.5vh];

            ._formContainer {
                @apply w-full my-auto z-[10];

                .__batch-delete {
                    @apply flex items-center transition-all;

                    svg {
                        @apply w-[6vh] h-[6vh] stroke-[2] stroke-[rgb(var(--text)/1)];
                    }

                    span {
                        @apply self-end;
                    }

                    &.__disabled {
                        @apply text-[rgb(var(--hoverGray)/1)];

                        svg {
                            @apply stroke-[rgb(var(--hoverGray)/1)];
                        }
                    }
                }
            }

            .__commentClose {
                @apply flex flex-col text-[rgb(var(--text)/.5)];

                svg {
                    @apply relative w-full h-full;

                    g {
                        line {
                            @apply stroke-[3] fill-[rgb(var(--text)/.5)] stroke-[rgb(var(--text)/.5)] origin-center;

                            &.one {
                                @apply rotate-45;
                            }

                            &.two {
                                @apply -rotate-45;
                            }
                        }
                    }
                }
            }
        }

        ._body {
            @apply px-[2.5vh] pt-[2.5vh] h-[65vh] w-full;

            .__table {
                @apply w-full overflow-x-auto;

                table {
                    @apply w-full border-collapse table-fixed;

                    thead {
                        @apply sticky top-0 bg-[rgb(var(--hoverGray)/.1)];

                        tr {
                            th {
                                @apply align-middle whitespace-nowrap;

                                button {
                                    @apply flex items-center gap-2 w-full h-full;

                                    // Center the text and icons
                                    &.__sortable-header {
                                        @apply items-center;

                                        // Style for the sort icons
                                        svg {
                                            @apply flex-shrink-0;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                &:nth-child(4) {

                                    // Body column
                                    .__flagged-content {
                                        @apply relative flex items-center gap-[.75vh] px-[1.5vh] py-[.75vh];
                                        @apply text-[1.75vh] font-semibold;

                                        &::after {
                                            @apply content-[''] absolute top-1/2 left-0 -translate-y-1/2 h-[4.75vh] -z-[1] w-full rounded-[.75vh] bg-[rgb(var(--redNoBG)/1)] border border-[rgb(var(--redNo)/.25)];
                                        }
                                    }
                                }

                                &:nth-child(6) {

                                    // Flag column
                                    .__flag-indicator {
                                        .__analysis-tooltip {
                                            @apply flex items-center gap-[.75vh] px-[1.5vh] py-[.75vh] rounded-[.75vh] h-full;
                                            @apply bg-[rgb(var(--redNoBG)/1)] border border-[rgb(var(--redNo)/.25)];
                                            @apply text-[1.75vh] font-semibold;
                                        }
                                    }
                                }

                                &:nth-child(8) {

                                    // Votes column
                                    .__votes-container {
                                        @apply flex gap-[1.5vh];

                                        span {
                                            @apply flex gap-[.5vh];
                                        }
                                    }
                                }
                            }

                            &.__reply-row {
                                @apply bg-[rgb(var(--hoverGray)/.75)];

                                td {
                                    &:nth-child(2) {
                                        @apply pl-[5vh];
                                    }
                                }
                            }
                        }
                    }

                    thead,
                    tbody {

                        th,
                        td {
                            @apply text-left px-[1.25vh] text-[2vh] h-[7vh];

                            // Special width for specific columns
                            &:first-child {
                                @apply w-[2.5%] px-[1vh]; // Checkbox column
                            }

                            &:nth-child(2) {
                                @apply w-[7.5%]; // Author column
                            }

                            &:nth-child(3) {
                                @apply w-[15%]; // Email column
                            }

                            &:nth-child(4) {
                                @apply w-[20%]; // Comment column
                            }

                            &:nth-child(5) {
                                @apply w-[10%]; // Article column
                            }

                            &:nth-child(6) {
                                @apply w-[18%]; // Flag column
                            }

                            &:nth-child(7) {
                                @apply w-[7.5%]; // Featured column
                            }

                            &:nth-child(8) {
                                @apply w-[7%]; // Votes column
                            }

                            &:nth-child(9) {
                                @apply w-[7.5%]; // Status column
                            }

                            &:nth-child(10) {
                                @apply w-[5%]; // Actions column
                            }
                        }
                    }
                }
            }
        }

        ._footer {
            @apply px-4 pt-4 border-t;
            @apply h-[10vh] border-t border-[rgb(var(--hoverGray)/1)] px-[2.5vh] flex items-center;
            @apply flex justify-between items-start;

            .__pagination {
                @apply flex justify-between items-center mt-4 px-4 w-full;

                &-info {
                    @apply text-[2vh] text-[rgb(var(--text)/.75)];

                    strong {
                        @apply text-[rgb(var(--text)/1)] font-semibold;
                    }
                }

                &-controls {
                    @apply flex gap-[1vh] items-center justify-center;

                    li {
                        @apply w-[2vh] h-[1vh] rounded-full bg-[rgb(var(--text)/.25)] cursor-pointer transition-all;

                        &.current {
                            @apply w-[4vh] bg-[rgb(var(--text)/1)];
                        }

                        &:hover {
                            @apply bg-[rgb(var(--text)/.5)];
                        }
                    }
                }
            }
        }
    }

    &__article {
        @apply fixed z-[100] top-[5vh] left-1/2 w-[90vw] h-[90vh] bg-[rgb(var(--white)/1)] p-[2.5vh] leading-normal;
        box-shadow: 0 1vh 2.5vh 1vh rgb(var(--text)/.1);

        &::before {
            @apply absolute content-[''] w-full h-[1.5vh] top-0 left-0 -translate-y-full bg-[rgb(var(--primary-light)/1)] z-10;
        }

        ._header {
            @apply flex justify-end h-[10vh] overflow-visible px-[2.5vh];

            .__articleClose {
                @apply flex flex-col text-[rgb(var(--text)/.5)];

                svg {
                    @apply relative w-full h-full;

                    g {
                        line {
                            @apply stroke-[3] fill-[rgb(var(--text)/.5)] stroke-[rgb(var(--text)/.5)] origin-center;

                            &.one {
                                @apply rotate-45;
                            }

                            &.two {
                                @apply -rotate-45;
                            }
                        }
                    }
                }
            }
        }

        ._body {
            @apply px-[2.5vh] pt-[2.5vh] h-[75vh] w-full;

            form {
                ._row {
                    &:nth-child(2) {
                        ._formGroup {
                            ._formControl {
                                &>._input {
                                    @apply pb-[var(--input-height)];
                                }
                            }
                        }
                    }

                    &:nth-child(3) {
                        @apply z-[50];
                        @apply relative gap-0 -translate-y-[calc(var(--input-height)+1vh)];

                        ._formGroup {
                            @apply flex-1 px-[1.25vh] bg-transparent;

                            ._formControl {
                                ._input {
                                    @apply border-0;

                                    &._focused {
                                        @apply border-t-[rgb(var(--hoverGray)/1)];
                                    }

                                    &.__error {
                                        @apply border-t-[rgb(var(--red)/1)];
                                    }
                                }
                            }
                        }

                        .__container {
                            @apply relative h-[var(--input-height)] flex-1;

                            .__tagsGrid {
                                @apply w-full h-full;

                                ._SimpleBar {
                                    @apply h-full max-w-[calc(calc(90vw-10vh)/2)];

                                    // Scrollbar styling
                                    .simplebar-scrollbar {
                                        height: 1.5vh !important;
                                        @apply bg-transparent;

                                        &::before {
                                            @apply w-full top-0 left-0 bg-[rgb(var(--text)/.25)] opacity-100 rounded-full;
                                        }

                                        &.simplebar-visible::before {
                                            @apply opacity-100;
                                        }
                                    }

                                    .simplebar-track {
                                        &.simplebar-vertical {
                                            @apply hidden;
                                        }

                                        &.simplebar-horizontal {
                                            height: 1.5vh !important;
                                            @apply bottom-[.25vh] bg-[rgb(var(--hoverGray)/.25)];
                                        }
                                    }

                                    .__tagsGrid-content {
                                        @apply flex flex-nowrap gap-[1vh] h-full w-full place-self-center;

                                        .__tagCard {
                                            @apply flex items-center gap-[.5vh] px-[1vh] py-[.5vh] rounded-[.5vh] text-[1.5vh];
                                            @apply bg-[rgb(var(--hoverGray)/1)] border border-[rgb(var(--hoverGray)/.75)];

                                            svg {
                                                @apply w-[2vh] h-[2vh];
                                            }

                                            span {
                                                white-space: nowrap;
                                                word-break: keep-all;
                                                overflow-wrap: normal;
                                            }

                                            .remove-tag {
                                                @apply ml-[.5vh] opacity-50 transition-opacity;

                                                &:hover {
                                                    @apply opacity-100;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:nth-child(4) {
                        @apply -translate-y-[calc(var(--input-height)/2+1vh)];
                    }
                }
            }

            ._button {
                @apply ml-auto w-1/4;
            }
        }
    }
}