/* @use doesn't work as expected, like functions wouldn't work if you just @use them in globals,
if you need to use a function from _functions.scss you will need to @use it in the file where you need the functions,
otherwise it wouldn't know em, cause they aren't global, @import used to do that but it's deprecated */

// Abstracts: variables, mixins, functions
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';
@use 'abstracts/mq';

// Base styles
@use 'base/reset';
@use 'base/typography';

// Components
@use 'components/header';
@use 'components/footer';
@use 'components/modals';
@use 'components/navigation';
@use 'components/forms';

// Pages
@use 'pages/home';
@use 'pages/login';
@use 'pages/dashboard';
@use 'pages/about';
@use 'pages/blog';
@use 'pages/post';
@use 'pages/contact';
@use 'pages/notfound';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply relative m-0 font-latin text-[.875rem] text-[rgb(var(--text)/1)] bg-[rgb(var(--background)/1)] antialiased tracking-wide scroll-smooth overflow-x-hidden;

    :lang(ar) {
        @apply font-arabic text-right;
    }

    .__mainWrapper,
    main {
        @apply p-0 min-h-[100vh] w-full;

        section {
            @apply relative h-[100vh] py-[15vh];
            
            // sm breakpoint (>= 640px): small tablets and up
            @include mq.mq($from: sm) {
                @apply py-[10vh];
            }
        }
    }

    .__dot {
        @apply text-[rgb(var(--primary)/1)];
    }
}

/* Custom NProgress Styles */
#nprogress {
    @apply pointer-events-none;

    .bar {
        @apply fixed bg-[rgb(var(--primary)/1)] h-[.25vh] w-full top-0 left-0 z-[1031];
        box-shadow: 0 0 2vh 2vh rgb(rgb(var(--primary)/1) / 0.05);
    }

    .peg {
        @apply hidden;
    }
}

.slick-vertical .slick-track {
    display: block;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}