// Abstracts: variables, mixins, functions
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

// Base styles
@use 'base/reset';
@use 'base/typography'as vars;

// Components
@use 'components/header';
@use 'components/footer';
@use 'components/modals';
@use 'components/navigation';
@use 'components/forms';

// Pages
@use 'pages/home';
@use 'pages/login';
@use 'pages/about';
@use 'pages/blog';
@use 'pages/contact';
@use 'pages/notfound';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply relative m-0 text-[.875rem] text-[rgb(var(--text)/1)] bg-[rgb(var(--background)/1)] antialiased tracking-wide scroll-smooth overflow-x-hidden;
    font-family: vars.$mainFont;

    .__mainWrapper, main {
        @apply p-0;
        min-height: 100vh;

        section {
            @apply relative h-[100vh] py-[10vh];
        }
    }
}

/* Custom NProgress Styles */
#nprogress {
    @apply pointer-events-none;

    .bar {
        @apply fixed bg-[rgb(var(--primary)/1)] h-[.25vh] w-full top-0 left-0 z-[1031];
        box-shadow: 0 0 2vh 2vh rgb(rgb(var(--primary)/1) / 0.05);
    }
    
    .peg {
        @apply hidden;
    }
}

.slick-vertical .slick-track {
    display: block;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}