:root {
    /* Colors */
    --d: 221 221 221;
    --redNoBG: 246 205 209;
    --redNo: 220 53 69;
    --greenYes: 25 135 84;
    --yellowPending: 255 193 7;
    --hoverGray: 248 249 250;
    --whitePlusOne: 250 249 246;
    --white: 255 251 235;
    --background: 255 243 198;
    --text: 18 22 22;
    --primary: 252 212 77;
    --primary-light: 253 230 138;
    --primary-dark: 251 192 36;
    --input-height: 7vh;
    --input-line-height: 1.5rem;
    --input-offset: calc((var(--input-height) - var(--input-line-height)) / 2);
}