:root {
    /* Colors */
    --d: 221 221 221;
    --redNoBG: 246 205 209;
    --redNo: 220 53 69;
    --greenYes: 25 135 84;
    --yellowPending: 255 193 7;
    --hoverGray: 248 249 250;
    --whitePlusOne: 250 249 246;
    --white: 255 251 235;
    --text: 18 22 22;

    /* 252 246 245  */
    --background: 250 238 229;
    --primary: 123 154 204;
    --primary-light: 163 191 224;
    --primary-dark: 90 123 153;

    --input-height: 7vh;
    --input-line-height: 1.5rem;
    --input-offset: calc((var(--input-height) - var(--input-line-height)) / 2);
}